main #hero {
    background: url('../images/donatehero.png') center no-repeat;
    background-size: cover;
    text-align: left;
}

main #hero button {
    font-size: 1.9rem;
    margin-block: 1rem;
}

main #content {
    padding: 0 2vw;
}

main #content .join,
main #content .row,
main #content .grid,
main #content .cta {
    width: 80%;
    margin: 3rem auto;
}

main #content .join h3 {
    color: #3175a1;
    margin-block: 1rem;
}

main #content .row {
    background: linear-gradient(90deg, #3175A1 0%, #81A5B9 69.83%, #81A5B9 100%);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1vw;
}

main #content .row .left {
    width: 35%;
    min-width: 120px;
    text-align: center;
}

main #content .row .text {
    border-left: 5px solid white;
}

main #content .row p {
    padding: calc(1rem + 1vw);
}