main #hero {
    background: url('../images/eventhero.png') bottom no-repeat;
    background-size: cover;
    min-height: 60vh;
    padding: 5vw;
}

main #hero h2 {
    font-family: var(--inter);
    color: white;
    text-transform: uppercase;
}

main #breadcrumb {
    text-transform: uppercase;
    padding: 2vw;
}

main #breadcrumb a {
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
}

main #featured {
    padding: 2vw 4vw;
}

main #featured h2 {
    font-family: var(--lato);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

main #featured .card {
    margin-block: 2rem;
    gap: 2rem 2rem;
    background: rgba(129, 165, 185, 0.10);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 80%;
}

main #featured .card .img {
    justify-content: center;
    text-align: center;
}

main #featured .card .img img {
    width: 100%;
}

main #featured .card .text * {
    font-family: var(--lato);
}

main #featured .card .text p {
    font-size: 1.6rem;
    padding-block: 1rem;
}

main #featured .card .text a {
    font-size: 2rem;
    margin-block: 2rem;
}

main #cta {
    background-color: #3175A1;
    text-align: center;
    padding: 2vw 4vw;
}

main #cta * {
    margin-block: 1.3rem;
    color: #FFF;
    text-align: center;
    font-family: var(--lato);
}

main #cta h3 {
    font-size: 2.2rem;
    font-style: normal;
    line-height: normal;
}

main #cta .line {
    width: 70%;
    height: 3px;
    background-color: white;
    margin: auto;
}

main #cta button {
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    background: #11567F;
}

main~footer {
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    main #featured .card {
        width: 100%;
    }
}