main #hero.next {
    background: url('../images/event1hero.png') bottom no-repeat;
}

main #content {
    padding: 2vw 4vw 4vw;
}

main #content .header {
    margin-top: 0;
}

main #content .header h3 span {
    color: #3175A1;
    font-size: 2rem;
}

main #content div,
main #content p {
    margin-block: 2rem;
}

main #content div .list p {
    margin-bottom: 0;
}

main #content div .list ul {
    width: 98%;
    margin-left: 2%;
}

main~footer {
    margin-top: 0;
}