footer {
  background-color: #11567f;
  padding-block: 2vw;
}

footer * {
  color: #ffffff;
}

footer .secondFootContainer {
  display: flex;
  flex-direction: column;
}

footer .secondFootContainer .secondFootContainerInnerCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 3%; */
  row-gap: 2rem;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont1 {
  width: 44%;
  min-width: 250px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-right: 6%;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont2,
footer .secondFootContainer .secondFootContainerInnerCont .subCont3 {
  width: 25%;
  min-width: 150px;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont1 .subCont1Inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  /* margin-bottom: 1rem; */
  width: 100%;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont1 .subCont1Inner img {
  min-width: 70px;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont1 .subCont1Inner h2 {
  font-size: 2rem;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont1 p {
  font-family: var(--gent);
  width: 100%;
  text-align: center;
}


footer .secondFootContainer .secondFootContainerInnerCont .subCont2 .subCont2InnerList,
footer .secondFootContainer .secondFootContainerInnerCont .subCont3 .subCont2InnerList {
  display: flex;
  align-items: center;
  margin-block: .5rem;
}

footer .secondFootContainer .secondFootContainerInnerCont .subCont2 .subCont2InnerList svg,
footer .secondFootContainer .secondFootContainerInnerCont .subCont3 .subCont2InnerList svg {
  width: 20px;
  height: 20px;
}

footer .secondFootContainer .socials {
  padding-bottom: 1vw;
  margin-right: 3%;
  margin-top: -3%;
  align-self: flex-end;
  width: 55%;
}

footer .secondFootContainer .socials * {
  text-align: center;
}

footer .secondFootContainer .copywright {
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  footer .secondFootContainer .secondFootContainerInnerCont .subCont1 {
    width: 100%;
    margin: 0;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont2 {
    margin-left: 2rem;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont2,
  footer .secondFootContainer .secondFootContainerInnerCont .subCont3 {
    width: fit-content;
  }

  footer .secondFootContainer .socials {
    align-self: center;
    margin-right: 0%;
    margin-top: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  footer .secondFootContainer .secondFootContainerInnerCont .subCont2 {
    margin-left: 2rem;
  }

  footer .secondFootContainer .secondFootContainerInnerCont p,
  footer .secondFootContainer .secondFootContainerInnerCont p {
    /* width: 30%; */
    margin-bottom: 0;
  }

  footer .secondFootContainer .socials {
    align-self: center;
    margin-right: 0%;
    margin-top: 1rem;
  }

  footer hr {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 322px) {
  footer .secondFootContainer .secondFootContainerInnerCont .subCont1 {
    min-width: 100%;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont1 .subCont1Inner {
    gap: 0;
  }
  footer .secondFootContainer .secondFootContainerInnerCont .subCont1 .subCont1Inner h2{
    font-size: 1.8rem;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont2 {
    margin-left: 0;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont2,
  footer .secondFootContainer .secondFootContainerInnerCont .subCont3 {
    width: 100%;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont2 .subCont2InnerList,
  footer .secondFootContainer .secondFootContainerInnerCont .subCont3 .subCont2InnerList {
    justify-content: center;
  }

  footer .secondFootContainer .secondFootContainerInnerCont .subCont2 .subCont2InnerList svg,
  footer .secondFootContainer .secondFootContainerInnerCont .subCont3 .subCont2InnerList svg {
    display: none;
  }
}