main #hero {
    background: url('../images/missionhero.png') top no-repeat;
}

main #content {
    padding: 2vw;
}

main #content .row {
    width: 80%;
    margin: 3rem auto;
    font-weight: 700;
    color: #000;
    font-size: 1.2rem;
    padding: 1vw;
}

main #content .row:nth-child(even) {
    background: linear-gradient(90deg, #3175A1 0%, #81A5B9 69.83%, #81A5B9 100%);
    color: white;
}

main #content .row .title {
    width: 22%;
    min-width: 120px;
    text-align: center;
}

main #content .row .text {
    border-left: 5px solid #11567F;
}

main #content .row:nth-child(even) .text {
    border-color: white;
}

main #content .row p {
    padding: calc(1rem + 1vw);
}

main #content a.button {
    background: #11567F;
    box-shadow: 0px 1px 1px 0px #81A5B9;
    margin: 3rem auto;
    display: block;
    width: 100%;
    min-width: 100px;
    max-width: 180px;
    padding: .5rem 1rem;
    color: #FFF;
    font-family: var(--inter);
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    transition: all .5s;
}

main #content a.button:hover {
    text-decoration: none;
    background-color: #104f74;
    box-shadow: 2px 3px 3px 0px #81A5B9;
    /* border-radius: 0.4rem; */
}

main #content .connected {
    margin: 3rem auto;
    background: rgba(129, 165, 185, 0.50);
    height: 18rem;
    overflow: hidden;
    width: 80%;
}

main #content .connected .img {
    width: 45%;
    overflow: hidden;
    /* height: 100%; */
}

main #content .connected .img img {
    width: 150%;
    /* height: 100%; */
}

main #content .connected .text {
    padding: calc(1rem + 2vw);
    height: 100%;
    flex-direction: column;
    width: 55%;
}

main #content .connected .text h3 {
    color: #FFF;
    font-size: 2.2rem;
}

main #content .connected .text button {
    color: #FFF;
    background: #3175A1;
    border: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

main #cta {
    background-color: #3175A1;
    text-align: center;
    padding: 2vw 4vw;
}

main #cta * {
    margin-block: 1.3rem;
    color: #FFF;
    text-align: center;
    font-family: var(--lato);
}

main #cta h3 {
    font-size: 2.2rem;
    font-style: normal;
    line-height: normal;
}

main #cta .line {
    width: 70%;
    height: 3px;
    background-color: white;
    margin: auto;
}

main #cta button {
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    background: #11567F;
}

@media screen and (max-width: 500px) {
    main #content .row {
        flex-direction: column;
        padding: 2vw 4vw;
    }

    main #content .row .title {
        border-bottom: 3px solid #11567F;
        width: 90%;
    }

    main #content .row:nth-child(even) .title {
        border-color: white;
    }

    main #content .row .text {
        border: none;
    }
    main #content .connected{
        flex-direction: column;
        height: fit-content;
    }
    
    main #content .connected .img,
    main #content .connected .text{
        width: 100%;
    }
    
    main #content .connected .img{
        max-height: 250px;
    }
    
    main #content .connected .text *{
        margin-block: 1rem;
    }
    
    main #content .connected .img img{
        width: 100%;
    }
}