* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
.main {
  /* border: 2px solid magenta; */
  width: 502px;
  height: 450px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  margin: 0 auto;
  margin-top: 120px;
  overflow: hidden;
}
.main1 {
  display: flex;
  justify-content: space-between;
}
.main22 {
  margin-top: -75px;
  margin-left: 40px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.grp121 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 70px;
}
.thank {
  text-align: center;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cont {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  padding: 7px 60px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  background: #3175a1;
  width: 30%;
  transition: 0.3s ease;
  cursor: pointer;
}
.cont:hover {
  font-weight: 900;
}
@media only screen and (max-width: 600px) {
  .main {
    width: 95%;
  }
}
