header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    padding-right: 30px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
     /* background-color: red; */

}


/* header nav svg{
    text-align: center;
    margin-top: 10px;
    display: none ;
} */

header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    /* background-color: magenta; */

}

header  nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header  nav ul li{
    padding: 10px;
}


.dropCont{
    display: none;
    font-size: 25px;
}

header nav ul li:hover .dropCont{
    display: block;
    position: absolute;
    margin-top: 11px;
    margin-left: -15px;
    background-color: #3175A1;
    
}

header nav ul li:hover a{
    color: #FFFFFF;
}

header nav ul li:hover .dropCont ul{
    display: block;
    margin: 10px;
}

header nav ul li:hover .dropCont ul li{
    width: 170px;
    padding: 10px;
    border-bottom: 2px dotted red;
    
}

header nav ul li:hover .dropCont ul li:last-child{
    border-bottom: none;
}



header  nav ul li:hover{
    background-color: black;
    animation: FadeIn 1s ease-in-out 0s 1;

}


header  nav ul li a{
    text-decoration: none;
    font-size: 14px;
    /* color: #000; */
}

@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.leftCont{
    display: flex;
    gap: 10px;
}

.leftCont h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.icc{
    display: flex;
}

.dropIcon{
    padding-top: 13px;
}

.hams > img{
    display: none;
}

@media only screen and (max-width:600px){
    header{
        width: 100%;
        /* background-color: blue; */
    }
    header nav ul{
        display: none;
    }

    .leftCont h2{
        font-size: 14px;

    }

.leftCont > img{
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.hams > img{
        display: block;
    }
}

.hams{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftCont h2{
    display: none;
}

.searchs{
    display: none;
}
