* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--pop);
  /* border: 1px solid red; */
}

.how {
  background: url("../images/girlImage.png");
  min-height: 70vh;
  padding: 5vw;
}

.howto {
  color: white;
}

.section {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  /* border: 2px solid blue; */
}

.section h4 {
  margin-bottom: 2rem;
}

.section h3 {
  margin-bottom: 1rem;
}

.section p {
  font-family: var(--pop);
  margin-bottom: 30px;
}

.section p ~ div > p{
  margin-bottom: 5px;
}

.related {
  text-align: center;
  margin-top: 2rem;
  font-size: 25px;
}

.afrimage {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  gap: 3%;
  row-gap: 2rem;
}

.img {
  /* height: 500px; */
  width: 30%;
  min-width: 250px;
  box-shadow: 0 -6px 7px -7px grey inset;
  border-radius: 5px;
}

.img img {
  padding: 1vw;
}
.img p {
  padding: 0 1vw;
}

.img img[alt="Image"] {
  width: 100%;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  height: 250px;
  color: white;
  background: #3175a1;
}

.getin {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .getin {
    font-size: 20px;
  }

  .foot {
    margin-top: 110px;
  }
}
