*{margin: 0;
padding:0;
box-sizing: border-box;

}
/* .main{
    width:80%;
    margin: 0 auto;
} */
header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
     /* background-color: red; */

}

header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    /* background-color: magenta; */

}

header  nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header  nav ul li{
    padding: 10px;
}


.dropCont{
    display: none;
    font-size: 25px;
}

header nav ul li:hover .dropCont{
    display: block;
    position: absolute;
    margin-top: 11px;
    margin-left: -15px;
    background-color: #3175A1;
    
}

header nav ul li:hover a{
    color: #FFFFFF;
}

header nav ul li:hover .dropCont ul{
    display: block;
    margin: 10px;
}

header nav ul li:hover .dropCont ul li{
    width: 170px;
    padding: 10px;
    border-bottom: 2px dotted red;
    
}

header nav ul li:hover .dropCont ul li:last-child{
    border-bottom: none;
}



header  nav ul li:hover{
    background-color: black;
    animation: FadeIn 1s ease-in-out 0s 1;

}


header  nav ul li a{
    text-decoration: none;
    font-size: 14px;
}

@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.leftCont{
    display: flex;
    gap: 10px;
}

.leftCont h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.icc{
    display: flex;
}

.dropIcon{
    padding-top:13px;
}

.africanWomenSmiling{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 60px;
    background-image: url(images/AfricanWomenSmiling.png);
    background-position: center;
    background-size: cover;

}
.writeUp{
    width:80%;
    margin: 0 auto;
    text-align: justify;
    /* display: flex; */
    /* justify-content: space-evenly; */
    font-family: Lato;
    /* position: relative;
    top: 200px; */
    padding-top: 90px;
   
}
.groupHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1{
    /* width: 1000px; */
    /* height: 516px; */
    font-size: 25px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
}
.ourStory{
    font-style: italic;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    color: #3175A1;
    font-size: 35px;
}
.since1962{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #3175A1;
}
.africanWD{
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.045em;
}

.writeUp2{
    width:80%;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    font-family: Lato;
    position: relative;
    top:200px;
}
.groupHeading2{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.ourApproach{
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    color: #3175A1;
    width: 261px;
    height: 42px;
}
.whatDoes{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.05em;
}
.text2{
    font-size: 25px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
}
.list1{
    font-size: 25px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    margin-left: 30px;
}
.list2{
    font-size: 25px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    margin-left: 30px;
}
.text3{
    font-size: 25px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
}
.exploreGroup{
    position: relative;
    top:480px;
    width:90%;
    margin: 0 auto;
    left:60px;
    display: flex;
    flex-direction: column;
}
.pageBottom{
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    position: relative;
    top:530px;
}

.Explore{
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.08em; 
}

.gallery{
    width: 295px;
    height: 50px;
    top: 3956px;
    border-radius: 4px;
    gap: 10px;
    background: #3175A1;
    /* margin-top: 20px;
    margin-left: 120px; */
}

footer{
    margin-top: 154px;
    color: #FFFF;
    /* border: 2px solid yellow; */
}

.firstFootContainer{
    height: 328px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #3175A1;
    padding-top: 50px;
}

.firstFootContainer p{
    margin-top: 15px;
}



.getInvolvedCont{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.secondFootContainer{
    background-color: #11567F;
    /* border: 2px solid lawngreen; */
}

.secondFootContainerInnerCont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
    /* border: 1px solid red; */
}


.subCont1 p{
    margin-top: 30px;
}

.subCont1Inner{
    display: flex;
    gap: 10px;
}

.subCont1Inner h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subCont2InnerList{
    display: flex;
    gap: 5px;
}

.socials{
    margin-top: 50px;
    text-align: center;
}

.socialLogo{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

hr{
    border: 1px dotted #067cc0;
    margin-top: 50px;
}

.copywright{
    text-align: center;
    padding: 15px;
}
@media only screen and (max-width: 600px) {
    .text1, .text3, .text2, .list1, .list2{
        font-size: 17px;
        
    }
    .writeUp2{
        top: 150px;
    }
    
    .whatDoes{
        font-size: 26px;
    } 
    .exploreGroup, .pageBottom{
        top: 300px
    }
    .gallery{
        text-align: center;
    }
}

