footer{
    margin-top: 154px;
    color: #FFFF;
}

.firstFootContainer{
    height: 328px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #3175A1;
    padding-top: 50px;
    
}

.firstFootContainer p{
    margin-top: 15px;
    
}



.getInvolvedCont{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.secondFootContainer{
    background-color: #11567F;
}

.secondFootContainerInnerCont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
}


.subCont1 p{
    margin-top: 30px;
}

.subCont1Inner{
    display: flex;
    gap: 10px;
}

.subCont1Inner h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subCont2InnerList{
    display: flex;
    gap: 5px;
}

.socials{
    margin-top: 50px;
    text-align: center;
}

.socialLogo{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

hr{
    border: 1px dotted #067cc0;
    margin-top: 50px;
}

.copywright{
    text-align: center;
    padding: 15px;
}

@media only screen and (max-width:600px){
    footer{
        margin-top: 100px;
    }
    .firstFootContainer{
        padding-top: 20px;
    }
    .firstFootContainer p{
        font-size: 15px;
        text-align: justify;
    }

    .firstFootContainer h2{
        font-size: 19px;
    }

    .getInvolvedCont svg{
        height: 25px;
        width: 25px;
    }

    /* Now styling the second footer container */
    .secondFootContainerInnerCont{
        padding-top: 20px;
        flex-direction: column;
        padding-top: 49px;
    }
    .subCont1Inner h2{
        font-size: 18px;
    }
    .subCont1Inner p{
        text-align: justify;
    }
}
